streamlit==0.80.0
spacy==3.0.5
textblob==0.15.3
nltk==3.6.1
torch==1.8.1
torch-transformers=1.0.4
aspect-based-sentiment-analysis==2.0.2
pandas==1.2.4
numpy==1.20.2
matplotlib==3.4.1
seaborn==0.11.1
wordcloud==1.8.1
PyPDF2==1.26.0
pathlib==1.0.1
gensim==4.0.1
gensim-sum-ext==0.1.2